* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body,
button,
input {
    font-size: 20px;
}

.app {
    padding: 20px;
}

.app__btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.page__wrapper {
    display: flex;
    margin-top: 15px;
    gap: 15px;
    flex-wrap: wrap;
}

.page__item {
    border: 1px solid gray;
    padding: 10px;
}

.page--current {
    border: 3px solid teal;
    background-color: aquamarine;
}
